.App {
  /* text-align: center; */
}
.shopCard_menwomen{
margin:3rem 0.8rem;
/* border:1px solid; */
font-weight: 700;
}
.profile-pic {
	position: relative;
	display: inline-block;
}
.grid-navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* default to 4 columns */
  gap: 10px;
}

.grid-item {
  background-color: lightgray;
  padding: 10px;
}

.profile-pic:hover .edit {
	display: block;
	padding-right: 8px;
  margin: 1rem;
  transition: ease 0.3s;
}

.edit {
	padding-top: 7px;	
	padding-right: 4px;
  margin: 0px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.shopCard_menwomen:hover{
  padding: 1rem;
  transition: all 0.3s;
}
.edit :hover{

}
.image-wrapper {
  position: relative;
}
.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.image-hover:hover {
  opacity: 1;
  transition: ease-in-out 1s;
}